<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Admin Dashboard</title>
    <%- include('adminlink'); -%>

</head>

<body>

    <div class="main-wrapper">

        <%- include('adminheader'); -%>
        <%- include('sidebar'); -%>







        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-sub-header">
                                <h3 class="page-title">Welcome Admin!</h3>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active">Admin</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <% if(errors){ errors.forEach(function(error){ %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                            <strong><%= error.msg %></strong>
                        </div>
                        <% }); }; %>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <form class="card-body" action="/admin/category-add" method="post">
                                <div class="mb-3 row">
                                    <label for="name" class="col-md-2 col-form-label">Title</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" value="" name="title">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Parent Category</label>
                                    <div class="col-md-10">
                                        <select class="form-select" name="parent_cat">
                                            <option value="">Selecte Parent Category</option>
                                            <% if(categoryList){ categoryList.forEach(function(cat){ %>
                                            <option value="<%= cat._id %>"><%= cat.title %></option>
                                            <% });  }; %>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="username" class="col-md-2 col-form-label">SEO
                                        Description</label>
                                    <div class="col-md-10">
                                        <textarea id="seo_description" name="seo_description"
                                            class="form-control" maxlength="225" rows="3"
                                            placeholder="This seo description has a limit of 130 chars."
                                            spellcheck="false"></textarea>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="email" class="col-md-2 col-form-label">SEO Keywords</label>
                                    <div class="col-md-10">
                                        <textarea id="seo_keywords" name="seo_keywords" class="form-control"
                                            maxlength="225" rows="3"
                                            placeholder="This seo keywords has a limit of 150 chars."
                                            spellcheck="false"></textarea>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- end col -->
                </div>
            </div>
           <%- include('adminfooter'); -%>
        </div>
    </div>

    <script src="<%= baseUrl %>/admin/assets/js/jquery-3.6.0.min.js"></script>
    <script src="<%= baseUrl %>/admin/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="<%= baseUrl %>/admin/assets/js/feather.min.js"></script>
    <script src="<%= baseUrl %>/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="<%= baseUrl %>/admin/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="<%= baseUrl %>/admin/assets/plugins/apexchart/chart-data.js"></script> 
    <script src="<%= baseUrl %>/admin/assets/js/script.js"></script>
</body>

</html>